@model LoginDTO
@{
    ViewData["Title"] = "LogIn";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Sign In</h4>
    </div>
    <div class="card-body">
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Register" class="btn btn-block btn-dark">Sign Up</a>
    </div>
</div>
