@model RegisterDTO
@{ ViewData["Title"] = "Register"; }

<div class="row">
    <div class="col-sm-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Kayıt Olun </h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"> </div> @* asp-validation-summary ModelState hatalarını göstermede yardımcı olur. *@
                    <div class="form-group">
                        <label asp-for="FullName"> </label>
                        <input type="text" class="form-control" asp-for="FullName" placeholder="FullName" />
                        <span asp-validation-for="FullName" class="text-danger"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="User Name" />
                        <span asp-validation-for="UserName" class="text-danger"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-lg btn-primary">Kayıt Ol</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-controller="Account" asp-action="LogIn" class="btn btn-block btn-dark">LogIn</a>
            </div>
        </div>
    </div>
</div>


