@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Create" > Add Product </a>
        </li>
        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Index" >All Products</a>
        </li>
    }
</ul>