@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<ul class="list-group">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Index">My Products </a>
        </li>
        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="List">Product List</a>
        </li>

        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Create">Create Product </a>
        </li>

        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Index">All Products</a>
        </li>

        <li class="list-group-item">
            <a asp-area=" " asp-controller="Account" asp-action="Details" asp-route-username="@User.Identity.Name">@User.Identity.Name Profile</a>
        </li>

    }
</ul>