@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-content w3-center" style="max-width:500px">
        <p>POPULAR PRODUCTS</p>

        <img class="mySlides w3-animate-fading" src="/images/product/Iphone11_iphonesiyah.jpg" style="width:100%">
        <img class="mySlides w3-animate-fading" src="/images/product/Iphone13_yesiliphone.jpg" style="width:100%">
        <img class="mySlides w3-animate-fading" src="/images/product/Boks Eldiveni_BoksEldiveni1.jpg" style="width:100%">
        <img class="mySlides w3-animate-fading" src="/images/product/Iphone12_11iphone.jpg" style="width:100%">

    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000);
        }
    </script>

</body>
</html>



