@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<ul class="list-group">
    <li class="list-group-item">
        <a asp-area="" asp-controller="Product" asp-action="Index"> All Products</a>
    </li>
    @if (User.IsInRole("User"))
    {
        <li class="list-group-item">
            <a asp-area=" " asp-controller="Account" asp-action="Details" asp-route-username="@User.Identity.Name">@User.Identity.Name Profile</a>
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li class="list-group-item">
            <a asp-area="" asp-controller="Product" asp-action="Index"> Site Home Page</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Product" asp-action="List">Products</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Role" asp-action="Index">Roles</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Product" asp-action="Create"> Create Product </a>
        </li>
    }
    @if (User.IsInRole("Seller"))
    {
        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Index">My Products </a>
        </li>
        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="List">Product List</a>
        </li>

        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Create">Create Product </a>
        </li>

        <li class="list-group-item">
            <a asp-area="Seller" asp-controller="Product" asp-action="Index">All Products</a>
        </li>

        <li class="list-group-item">
            <a asp-area=" " asp-controller="Account" asp-action="Details" asp-route-username="@User.Identity.Name">@User.Identity.Name Profile</a>
        </li>

    }
</ul>
@if (User.IsInRole("User"))
{
    <div class="smallcart bg-success mt-3 p-3 text-white">
        @await Component.InvokeAsync("SmallCart")
    </div>
}


