
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CHEAPEST</a>


        @using (Html.BeginForm())
        {
            <div>
                <div style="width:60%; float:left">
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search" })
                </div>
                <div>
                    <button class="btn btn-outline-success" type="submit" style="float:right">Search</button>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <a class="navbar-brand">&nbsp; ADMİN-@User.Identity.Name </a>
        }
        @if (User.IsInRole("Seller"))
        {
            <a class="navbar-brand">&nbsp; @User.Identity.Name-Home </a>
        }

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <div class="navbar-nav ml-2">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="nav-item">
                        <form asp-area="" asp-controller="Home" asp-action="Index" asp-route-username="@User.Identity.Name">
                            <button type="submit" class="btn btn-primary">@User.Identity.Name</button>
                        </form>
                    </div>
                    <pre></pre>
                    <div class="nav-item">
                        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut">
                            <button type="submit" class="btn btn-primary">Log Out</button>
                        </form>
                    </div>              

                }
                else
                {
                    <div class="nav-item">
                        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                    </div>
                    <div class="nav-item">
                        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>


