<p><span class="badge badge-primary">YOUR PAYMENT HAS BEEN SUCCESSFULLY COMPLETED</span></p>
<a class="btn btn-outline-success float-left" asp-controller="Product" asp-action="Index">CONTINUE SHOPPİNG</a>