@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<ul class="list-group">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Product" asp-action="Index"> Site Home Page</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Product" asp-action="List">Products</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Role" asp-action="Index">Roles</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
        </li>
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Product" asp-action="Create"> Create Product </a>
        </li>
    }
</ul>