
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">CHEAPEST</a>
        @using (Html.BeginForm())
        {
            <div>
                <div style="width:60%; float:left">
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search" })
                </div>
                <div>
                    <button class="btn btn-outline-success" type="submit" style="float:right">Search</button>
                </div>
            </div>
        }

        <a class="navbar-brand">&nbsp; ADMİN-@User.Identity.Name </a>


        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <div class="navbar-nav ml-2">
                @if (SignInManager.IsSignedIn(User))
                {

                    <div class="nav-item">
                        <form asp-area="Admin" asp-controller="Home" asp-action="Index" asp-route-username="@User.Identity.Name">
                            <button type="submit" class="btn btn-primary">@User.Identity.Name</button>
                        </form>
                    </div>
                    <pre></pre>
                    <div class="nav-item">
                        <form method="post" asp-are="" asp-controller="Account" asp-action="LogOut">
                            <button type="submit" class="btn btn-primary">Log Out</button>
                        </form>
                    </div>
                }
                else
                {

                    <div class="nav-item">
                        <a class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                    </div>
                    <div class="nav-item">
                        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                    @*<p>&nbsp;</p>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Log In</h4>
                                                </div>
                                                @await Html.PartialAsync("Login/_LoginPartial")
                                                <div class="card-footer">
                                                    <a asp-controller="Account" asp-action="Register" class="btn btn-block btn-dark">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @*</div>*@
                }
            </div>
        </div>
    </div>
</nav>
