
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
  
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <img src="/images/product/@item.ImagePath" class="card-img-top" />
                </div>
                <div class="card-body">
                    <p class="card-title">@item.ProductName</p>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.UnitPrice.ToString("C2")</p>
                </div>
                <div class="card-footer">
                    <a asp-area="" asp-controller="Product" asp-action="Details" class="btn btn-block btn-dark" asp-route-id="@item.Id">Detail</a>
                </div>
            </div>
        </div>
    }
</div>